@import '../../styles/common';
.site-blogspage {
  overflow: hidden;
  // padding-top: 194px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  @include mobile {
    padding-top: 0;
  }
  .title-blog-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 4em;
    h2 {
      font-size: 34px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      letter-spacing: 0.05em;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      letter-spacing: 0.05em;
    }
  }
  BUTTON.load-more {
    padding: 0.5em 1em;
    border: 1px solid $primary_color;
    color: $primary_color;
    text-transform: uppercase;
    margin: 1em auto 3em;
    display: block;
    transition: 0.2s all;
    &:hover {
      opacity: 0.7;
    }
  }
}
